.wrapper__button button {
  width: 100%;
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 16px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}
.button-disabled {
  background-color: #E1E1ED;
  color: #8181B1;
}
.button-primary {
  background-color: #00A896;
  color: white;
}