.input__box > div {
  margin-right: 15px;
}
.input_label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4B4B7C;
}
.input__wrapper input {
  width: 100%;
  padding: 16px;
  background-color: white;
  border: 2px solid #E1E1ED;
  box-sizing: border-box;
  border-radius: 8px;
}
.input_error {
  padding: 3px 10px;
  color: #f1464d;
  font-size: 14px;
}